.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 143px;
  height: 33px;
}
.header__logo:hover{
  background-image: url(../../../images/header-logo-hover.svg);
}
@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 19px;
  }
}