@import url(./vendor/normalize.css);
@import url(./vendor/font/Web/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-Button/profile__add-Button.css);
@import url(./blocks/profile/__edit-Button/profile__edit-Button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__delete/photo-grid__delete.css);
@import url(./blocks/photo-grid/__description/photo-grid__description.css);
@import url(./blocks/photo-grid/__item/photo-grid__item.css);
@import url(./blocks/photo-grid/__like/photo-grid__like.css);
@import url(./blocks/photo-grid/__like/_active/photo-grid__like_active.css);
@import url(./blocks/photo-grid/__picture/photo-grid__picture.css);
@import url(./blocks/photo-grid/__title/photo-grid__title.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__contanier/popup__container.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/_type/popup__input_type_auth.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_open-pic.css);
@import url(./blocks/popup/__container-pic/popup__container-pic.css);
@import url(./blocks/popup/__pic/_type/popup__pic_type_open-pic.css);
@import url(./blocks/popup/__title/_type/popup__title_type_open-pic.css);
@import url(./blocks//content-container/content-container.css);
@import url(./blocks/photo-grid/__like-container/photo-grid__like-container.css);
@import url(./blocks/photo-grid/__like-count/photo-grid__like-count.css);
@import url(./blocks/popup/__title/_type/popup__title_type_delete-card.css);
@import url(./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./blocks/photo-grid/__delete/_opened/photo-grid__delete_opened.css);
@import url(./blocks/popup/__submit/_type/popup__submit_type_avatar-edit.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__submit/auth__submit.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/popup/__contanier/_type/popup__container_type_info.css);
@import url(./blocks/popup/__title/_type/popup__title_type_info.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__info/header__info.css);